@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Michroma&display=swap');
*{
    margin: 0;
    padding: 0;
     box-sizing: border-box; 
}
body{
    font-family: "Inter", sans-serif;
}
.container{
    width: 1320px;
    margin: 0 auto;
}
 .view_more{
    background: #349758;
    text-transform: uppercase;
    color: #ffffff;
    border: none;
    font-size: 16px;
    font-weight: 700;
    padding: 13px 33px;   
}
.view_more_div{
    text-align: center;
    margin-top: 44px;
}
header .header_top {
    background-color: #349758;
}

header .header_top ul {
    display: flex;
    gap: 24px;
    align-items: center;
}
header .header_top ul li {
    list-style: none;
    position: relative;
    padding: 18px 0;
}
header .header_top ul li a{
    text-decoration: none;
    color: #ffffff;
    font-size: 24px;
    font-weight: 400px; ;
}
 header .header_top ul li:nth-child(1) ::after {
    content: "";
    width: 2px;
    height: 100%;
    background: #ffffff;
    position: absolute;
    top: 0;
    right: -11px;
 } 
 header .header_top .header_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
header .header_top  .header_wrapper .header_track_btn {
    text-decoration: none;
    color: #ffffff;
    font-size: 24px;
    font-weight: 400px; ;
    position: relative;
    padding: 18px 0 ;
 } 
header .header_top  .header_wrapper .header_track_btn::after {
    content: "";
    width: 3px;
    height: 100%;
    background: #ffffff;
    position: absolute;
    top: 0;
    right: -11px;
 }
header .header_top  .header_wrapper .header_track_btn::before {
    content: "";
    width: 3px;
    height: 100%;
    background: #ffffff;
    position: absolute;
    top: 0;
    left: -11px;
 }
   header nav {
    border-bottom:2px solid rgb(0, 0, 0, 0.5) ;
   }
  header nav ul {
    display: flex;
    gap: 34px;
    margin-left: 73px;
    margin-right: 63px;
 }
 header nav ul li {
    list-style: none;
    
 }
  header nav ul li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: rgb(21, 20, 20, 0.9) ;
    text-transform: capitalize;
 }

header nav .nav_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*gap: 73px; */
}
header nav .nav_wrapper input{
    width: 436px;
    padding: 18px 10px ;
    border-radius: 10px;
    border: 2px solid #7e7b7b;
}
header nav .nav_wrapper input::placeholder {
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    font-family: "Inter", sans-serif;
}
header nav .nav_wrapper .search_box button {
position: absolute;
right: 26px;
top: 50%;
transform: translateY(-50%);
border: none;
background: none;
font-size: 30px;
color: rgb(15, 14, 14, 0.65);
}
header nav .nav_wrapper .search_box {
    position: relative;
}
header nav .nav_wrapper .user_cart_icon button {
background: none;
border: none;
font-size: 35px;
color: black;

}
header nav .nav_wrapper .user_cart_icon{
    margin-left: 102px;
    display: flex;
}
header nav .nav_wrapper .user_cart_icon button:nth-child(2) {
    margin-left: 65px;
}
#banner {
    margin-top: 50px;
}
#featured_product {
    margin-top: 50PX;
    margin-bottom: 50px;
}
#featured_product .title{
    font-size: 40px;
    font-weight: 700;
    color: #349758;
    text-align: center;
    margin-bottom: 36px;
}
#featured_product .product_cart{
    width: 312px;
    padding: 24px;
    text-align: center;
    box-shadow: 2px 1px 12px 1px rgba(163, 139, 139, 0.75);
    
}
#featured_product .product_cart h3{
 font-size: 15px;
 font-weight: 700;
 color: black;
 margin-top: 10px;
 text-align: left;

}
#featured_product .product_cart .price{
    display: flex;
    gap: 10px;
    align-items: center;
}
#featured_product .product_cart .price h5{
font-size: 12px;
color: #349758;
}
#featured_product .product_cart button{
    background: #349758;
    border: none;
    font-size: 12px;
    color: #ffffff;
    font-weight: 600;
    text-transform: uppercase;
    display: block;
    width: 100%;
    margin-top: 20px;
    padding: 6px 0;
}
#featured_product .featured_wrapper{
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

/* blog part start */
#blog .title{
    color: #349758;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    position: relative;
    margin-bottom: 35px;
}
#blog .title::after{
    content:"" ;
    width: 536px; 
    height: 1px;
    background: #cecbce;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
#blog .title::before{
    content:"" ;
    width: 536px; 
    height: 1px;
    background: #cecbce;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
#blog .blog_item{
    width: 422px;
    box-shadow: 0px 0px 5px 0px rgb(0,0,0,0.75);
}
.blog_text_container{
    padding: 35px;
}
#blog .blog_wrapper{
    display: flex;
    gap: 27px;
    margin-top: 48px;
}
#blog .blog_item h4{
    background: #349758;
    color: #ffffffff;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 4px 8px;
    display: inline-block;
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}
#blog .blog_item_image{
    text-align: center;
    position: relative;
}
#blog .blog_item h3{
    color: #383636;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin-top: 35px;
}
#blog .blog_item h5{
    font-size: 14px;
    color: #776161;
    font-weight: 400;
    text-transform: capitalize;
    text-align: center;
    justify-content: center;
    display: flex;

}
#blog .blog_item h5 i{
    margin-left: 17px;
}
#blog .blog_item h5 div{
    position: relative;
}
#blog .blog_item h5 div span{
    width: 10px;
    height: 10px;
    background: #349758;
    color: #ffffff;
    border-radius: 50%;
    font-size: 7px;
    position: absolute;
    top: 0;
    right: -5px;
}
#blog .blog_item p{
    font-size: 14px;
    font-weight: 400;
    color: #776161;
    text-align: center;
    margin-top: 30px;
}
#blog .blog_item button{
    background: transparent;
    border: none;
    text-transform: uppercase;
    color: #349758;
    font-size: 14px;
    font-weight: 600;
    display: block;
    margin: 0 auto;
    margin-top: 21px;
    margin-bottom: 28px;
}

/* blog part end */


